<div class="details">
    <div>First Name: {{$ctrl.client.firstName}}</div>
    <div>Middle Name: {{$ctrl.client.id}}</div>
    <div>Last Name: {{$ctrl.client.company}}</div>
    <span><strong>Cards: </strong></span>
    <div ng-if="$ctrl.client.cards <= 0">No cards!</div>
    <div ng-repeat="card in $ctrl.client.cards">{{card.name}}</div>
    <div class="btn-holder">
        <button class="btn-danger btn-sm" ui-sref="clients">Close</button>
        <button class="btn-warning btn-sm" ui-sref="private">Private</button>
    </div>
</div>